<h1><%= @site.name %></h1>

<p>
  <b>URL</b>
  <%= link_to @site.url, @site.url %>
</p>

<p>
  <b>API Token</b>
  <%= @site.api_token %>
</p>

<p>
  <%= link_to 'Edit', edit_site_path(@site) %>,
  <%= link_to 'Delete', @site, :confirm => 'Are you sure?', :method => :delete %> or
  <%= link_to 'back to Sites list', sites_path %>
</p>
