<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Url:</b>
  <%= @site.url %>
</p>

<p>
  <b>API Token:</b>
  <%= @site.api_token %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
