<!DOCTYPE html>
<html>

  <head>
    <title>Superintendent</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans&v1' rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro&v1' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <header id="page_header">
      <nav id="user_nav">
        <p>
        <% if user_signed_in? %>
          <%= t(:signed_in_as) %> <%= link_to current_user.email, edit_user_registration_path %>.
          <%= t(:not_you) %>? <%= link_to t(:sign_out), destroy_user_session_path %>
        <% else %>
          <%= link_to t(:sign_up), new_user_registration_path %> <%= t(:or) %> <%= link_to t(:sign_in), new_user_session_path %>
        <% end %>
        </p>
      </nav>
      <h1 id="app_title"><%= link_to "Superintendent", root_path %></h1>
      <% if defined? @current_site %>
        <h2 id="site_name"><%= @current_site.name %></h2>
      <% end %>
    </header>

    <section id="page_body">

      <% if user_signed_in? %>
      <section id="sidebar">

        <article id="sites">
          <h3><%= t(:sites_title) %></h3>
          <%= link_to t(:see_sites), sites_path %>
        </article>

        <article id="reports">
          <h3><%= t(:reports_title) %></h3>
          <ul>
            <li><%= link_to t("reports.cases.open"), cases_open_path %></li>
            <li><%= link_to t("reports.cases.closed"), cases_closed_path %></li>
            <li><%= link_to "People: All", "/people/all" %></li>
            <li><%= link_to "People: Without Last Name", "/people/without_last_name" %></li>
          </ul>
        </article>

      </section>
      <% end %>

      <section id="main">

        <header id="flash">
          <% flash.each do |name, msg| %>
            <%= content_tag :p, msg, :id => "flash_#{name}", :class => "flash" if msg.is_a?(String) %>
          <% end %>
        </header>

        <article id="report">
          <%= yield %>
        </article>

      </section>

    </section>

    <footer id="page_footer">
      <p>&copy; 2011 Carlos Arenas Córdoba.</p>
    </footer>
  </body>

</html>
