<!DOCTYPE html>
<html>

  <head>
    <title>Superintendent</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans&v1' rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro&v1' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <header id="page_header">
      <nav id="user_nav">
        <p>
        <% if user_signed_in? %>
          Signed in as <%= link_to current_user.email, edit_user_registration_path %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
        </p>
      </nav>
      <h1 id="app_title"><%= link_to "Superintendent", root_path %></h1>
      <% if ! session[:site_name].blank? %>
        <h2 id="site_name"><%= session[:site_name] %></h2>
      <% end %>
    </header>

    <section id="page_body">

      <% if user_signed_in? %>
      <section id="sidebar">

        <article id="sites">
          <h3>Sites</h3>
          <%= link_to "See sites", sites_path %>
        </article>

        <article id="reports">
          <h3>Reports</h3>
          <ul>
            <li><%= link_to "Open Cases", cases_open_path %></li>
            <li><%= link_to "Closed Cases", cases_closed_path %></li>
          </ul>
        </article>

      </section>
      <% end %>

      <section id="main">

        <header id="flash">
          <% flash.each do |name, msg| %>
            <%= content_tag :p, msg, :id => "flash_#{name}", :class => "flash" if msg.is_a?(String) %>
          <% end %>
        </header>

        <article id="report">
          <%= yield %>
        </article>

      </section>

    </section>

    <footer id="page_footer">
      <p>&copy; 2011 Carlos Arenas Córdoba.  All rights reserved.</p>
    </footer>
  </body>

</html>
